.optionsSection {
  height: 100dvh;
  background-color: #efefef;
}

.optionsContainer {
  height: 80%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.circleDiv,
.divisionDiv,
.subDivisionDiv {
  width: 300px;
  height: 100px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.optionsContainer p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 10px;
}

.btnContainer {
  margin-top: 8px;
  width: fit-content;
}

.btn {
  padding: 12px;
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: #01579b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #003f6f;
}

@media screen and (max-width: 1100px) {
  .optionsContainer {
    display: flex;
    flex-direction: column;
  }
}
